{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}LoveHouse - Manage Wish{%endblock%}

{% block style %}
<style>
    table th {
        font-size: 20px;
    }
</style>
{% endblock%}

{% block content%}

<div class="layui-body handwriting" style="top:40px;left:0px;overflow: auto;background-color: #fde2e7;background-image: url({% static 'images/background.png' %});background-size: 900px;background-position: 50% 100%;background-repeat: no-repeat;">
    <div class="container">
        <h1 class="mt-5 mb-5 text-center"><b>共同经历的点点滴滴</b></h1>
    </div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}
