{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}LoveHouse - Manage Wish{%endblock%}

{% block style %}
<style>
    .header{
        margin-top:30px;
        margin-bottom:20px;
    }
    table th {
        font-size: 20px;
    }
</style>
{% endblock%}

{% block content%}
    <div class="container">
        <a href="{% url 'wish:new_wish' %}"><button type="button" class="btn btn-info btn-block header"><h3>宝贝，许个愿吧</h3></button></a>
      <table class="table table-hover">
          <thead>
            <tr class="row">
                <th class="col-8">心愿</th>
                <th class=" col-2">许愿人</th>
                <th class=" col-2">日期</th>
            </tr>
        </thead>

        {% for wish in wishes %}
        <tr id={{ forloop.counter }}>
            <tr id=1 class="row">
                <td class="col-8"><a href="">{{ wish.body }}</a></td>
                <td class=" col-2">{{ wish.author.username }}</td>
                <td class=" col-2">{{ wish.created_str }}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
