{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}LoveHouse - Manage Wish{%endblock%}

{% block style %}
<style>
    .header{
        margin-top:30px;
        margin-bottom:20px;
    }
    table th {
        font-size: 20px;
    }
</style>
{% endblock%}

{% block content%}
    <div class="container">
        <a href="{% url 'wish:new_wish' %}"><button type="button" class="btn btn-info btn-block header"><h3>宝贝，许个愿吧</h3></button></a>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="" style="width:80px"></th>
                  <th class="" style="width:400px">Content</th>
                  <th class=" " style="width:80px">Author</th>
                  <th class="" style="width:100px">Date</th>
              </tr>
        </thead>

        {% for wish in wishes %}
        <tr id={{ forloop.counter }}>
            <td class="text-right" style="width:80px">
                <a href=""><i class=" layui-icon layui-icon-edit"></i></a>
                <a href=""><i class=" layui-icon layui-icon-delete"></i></a>
            </td>
            <td class="" style="width:400px"><a href="">{{ wish.body }}</a></td>
            <td class="" style="width:80px">{{ wish.author.username }}</td>
            <td class="" style="width:100px">{{ wish.created_str }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
