{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}LoveHouse - New Wish{%endblock%}

{% block style %}

{%endblock%}

{% block content%}
    <div class="header" style="margin-top:40px;margin-bottom:20px;">
         <h1><b>New Wish</b></h1>
     </div>

     <div class="text-center vertical-middle">
         <form class="form-horizontal mt-5" action="" method="post">
             {% csrf_token%}
             <p>{{form.body}}</p>
             <input type="submit" value="许 愿" class="btn-info" style="width:120px;line-height:35px;font-size: 20px;font-weight: 1000;margin-top:20px;">
         </form>
     </div>
{%endblock%}

{% block footer %}

{% endblock %}
