{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}LoveHouse - Note History{%endblock%}

{% block style %}
<style>
    .header{
        margin-top:30px;
        margin-bottom:20px;
        font-weight: 1000;
    }
    table th {
        font-size: 20px;
    }
</style>
{% endblock%}

{% block content%}
    <div class="container">
        <h3 class="header">历史留言</h3>
      <table class="table table-hover">
          <thead>
            <tr>
                <th class="" style="width:80px"></th>
                <th class="" style="width:400px">Content</th>
                <th class=" " style="width:70px">Author</th>
                <th class="" style="width:100px">Publish</th>
            </tr>
        </thead>

        {% for note in notes %}
        <tr id={{ forloop.counter }}>
            <td class="text-right" style="width:80px">
                <a href=""><i class=" layui-icon layui-icon-edit"></i></a>
                <a href=""><i class=" layui-icon layui-icon-delete"></i></a>
            </td>
            <td class="" style="width:400px"><a href="">{{ note.body }}</a></td>
            <td class="" style="width:70px">{{ note.author.username }}</td>
            <td class="" style="width:100px">{{ note.created_str }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
