{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}LoveHouse - Manage Note{%endblock%}

{% block style %}
<style>
     .header {
         text-align: center;
         margin-top: 30px;
         margin-bottom: 25px;
     }

     .wall {
         background-image: url(/static/images/note_wall.jpg);
         background-repeat: no-repeat;
         background-size: 900px;
         background-position: 50% 0%;
         height: 520px;
     }

     div.add-new {
         position: relative;
         margin-left: 50%;
         left: 298px;
         top: 70px;
         height: 90px;
         width: 90px;
         line-height: 90px;
         text-align: center;
         background-image: url(/static/images/note_new.jpg);
         background-repeat: no-repeat;
         background-size: 100%;
         background-position: center;
     }

     div.history {
         position: relative;
         margin-left: 50%;
         left: 316px;
         top: 80px;
         height: 100px;
         width: 100px;
         line-height: 100px;
         text-align: center;
         background-image: url(/static/images/note_history.jpg);
         background-repeat: no-repeat;
         background-size: 100%;
         background-position: center;
     }

     #main {
         position: relative;
         margin-left: 50%;
         left: -350px;
         top: -145px;
         height: 230px;
         width: 550px;
     }

     .note-blue {
         background-image: url(/static/images/note_blue.png);
         background-repeat: no-repeat;
         background-size: 100%;
         background-position: center;
         width: 120px;
         height: 120px;
         float: left;
         margin:5px 20px 5px 20px;

     }

     .note-red {
         background-image: url(/static/images/note_red.jpg);
         background-repeat: no-repeat;
         background-size: 100%;
         background-position: center;
         width: 120px;
         height: 120px;
         float: left;
         margin:5px 20px 5px 20px;
     }

     div.note-blue div.note-content {
         position: relative;
         transform: rotate(-10.5deg);
         top: 33px;
         left: 22px;
         height: 70px;
         width: 80px;
         font-size: 2px;
         text-align: center;

     }

     div.note-red div.note-content {
         position: relative;
         transform: rotate(10.5deg);
         top: 33px;
         left: 16px;
         height: 70px;
         width: 80px;
         font-size: 2px;
         text-align: center;
     }

     div.content {
         position: absolute;
         top: 50%;
         transform: translate(0, -50%);
         font-family: handwriting;
     }
 </style>
{% endblock%}

{% block content%}
    <div class="header handwriting">
        <h1><b>宝贝，悄悄对你说</b></h1>

    </div>
    <div class="wall">
        <a href="{% url 'note:new_note'%}">
            <div class="add-new"></div>
        </a>
        <a href="{% url 'note:hist_note'%}">
            <div class="history"></div>
        </a>
        <div id="main" class="handwriting">
        </div>
        <div class="d-none note-blue" id="note-blue">
            <a class="close" style="position:relative;left:-20px">&times;</a>
            <div class="note-content">
                <div class="content">
                </div>
            </div>
        </div>
        <div class="d-none note-red" id="note-red">
            <a class="close" style="position:relative;left:-10px;top:13px">&times;</a>
            <div class="note-content">
                <div class="content">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}

{% block script %}
    $(function() {
        $.ajax({
            type: 'post',
            url: "{% url 'note:list_note' %}",
            data: {
            },
            success: function(data) {
                if (data) {
                    $.each(data,function(index,item){
                        if(item.gender){
                            $('#note-blue .content').text(item.body);
                            $('#main').append(
                                $('#note-blue').clone(true)
                                .removeClass('d-none')
                                .attr('id','note-'+index)
                                .css({'position':'relative','left':item.left,'top':item.top})
                            )
                            <!-- console.log(item.left+';  '+item.top); -->
                        }else{
                            $('#note-red .content').text(item.body);
                            $('#main').append(
                                $('#note-red').clone(true)
                                .removeClass('d-none')
                                .attr('id','note-'+index)
                                .css({'position':'relative','left':item.left,'top':item.top})
                            )
                        }
                    });
                }
            }
        })
    });
{% endblock%}
