{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}LoveHouse{%endblock%}

{% block content%}
    <div class="text-center vertical-middle" style="position: relative;top:10%;">
        <h1 class="mt-5 mb-3"><b>进入小屋</b></h1>
        <form class="form-horizontal mt-5" action="" method="post">
            {% csrf_token%}
            <p><label for="{{ form.username.id_for_label }}" style="width:100px;text-align: right;"><b>你是谁：</b></label> {{ form.username }}</p>
            <p><label for="{{ form.password.id_for_label }}" style="width:100px;text-align: right;"><b>暗号：</b></label> {{ form.password }}</p>
            <input type="submit" value=" 芝麻开门  " class="btn-info font-weight-bold" style="margin-top:20px;width:120px;line-height: 35px">
        </form>
    </div>
{%endblock%}

{% block footer %}

{% endblock %}
